* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    text-align: center;
}

div.header, div.content, div.footer {
    margin: 0 auto;
    width: 720px;
    max-width: 720px;
    padding: 0px;
}

div.header {
    height: 40px;
    margin: 20px auto;
    background-color: #fefefe;
    border: solid 1px #cccccc;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}

span.nav {
    float: left;
    margin: 0 auto;
    font-size: 10px;
    width: 50px;
}

div.title {
    width: 100%;
    float: left;
}

div.worktime {
    float: left;
    display: block;
    font-size: 10px;
}

/*通知style Begin*/
div.notice {
    float: left;
    width: 100%;
    margin: 2px auto;
    text-align: left;
    border: 1px solid #3d3d3d;
    background-color: #fbe0a9;
    overflow: hidden;
}
.animate {
    padding-left: 20px;
    line-height: 5px;
    font-size: 12px;
    color: #3d3d3d;
    display: inline-block;
    white-space: nowrap;
    animation: 25s wordsLoop linear infinite normal;
}
@keyframes wordsLoop {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}
@-webkit-keyframes wordsLoop {
    0% {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    }
    100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    }
}
/*通知style End*/

span.required {
    color: #ff0000;
    font-size: 10px;
}

input.text {
    font-size: 12px;
    padding: 2px;
    height: 25px;
    width:100px;
    max-width: 120px;
    border:solid 1px #ddd;
}
button.btn {
    width:100px;
    max-width: 120px;
    border:solid 1px #0d0d0d;
    height: 25px;
    background-color:darkseagreen;
}
a.info {
    font-size:10px;
}

ul.list {
    margin:0 auto;
    padding: 0px;
    line-height: 150%;
    width: 100%;
    float: left;
}

ul.list li {
    list-style-type: none;
    font-size: 12px;
    float: left;
    text-align: left;
    width: 100%;
    margin: 0px auto;
}

button.buttonBig, a.buttonBig {
    border-radius: 6px;
    padding: 2px;
    width: 120px;
    height: 40px;
    border:none;
    margin: 4px auto;
    font-size: 12px;
}

a.file {
    padding: 0px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 40px;
}

a.file:hover {
    background-color: #ee9b3b;
    color: #fefefe;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.enable {
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
}

.disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.blue {
    background-color: #5fced8;
    color: #fefefe;
}

.orange {
    background-color: #ee9b3b;
    color: #fefefe;
}

.lightorange {
    background-color: #fbe0a9;
    color: #fefefe;
}

.cyan {
    background-color: #b2d8e5;
    color: #fefefe;
}

.red {
    background-color: #ea412c;
    color: #faf16e;
}